*{
    font-family: 'League Spartan', sans-serif;
}

body{
    margin: 0;
    padding: 0;

}

.calc-div{
    background-color: hsl(222, 26%, 31%);
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.calc-container{
    min-width: 37%;
    max-width: 50%;
}

.section-one{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    /* border: 2px solid white; */
}

.section-one-text{
    font-size: 1.7em;
    margin: 0;
    padding: 0;
}

.theme-select{
    font-size: 0.8em;
    display: flex;
}

.selector-box{
    width: 75px;
    margin-left: 25px;
}

.selector-numbers{
    display: flex;
    justify-content: space-between;
    padding-left: 7px;
    padding-right: 7px;
}

.selector{
    height: 24px;
    background-color: hsl(223, 31%, 20%);
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

.selector-item{
    background-color: hsl(6, 63%, 50%);
    height: 15px;
    width: 15px;
    border-radius: 50%;
}

.section-two{
    margin-top: 40px;
    height: 100px;
    background-color: hsl(224, 36%, 15%);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
    font-size: 2.6em;
    padding-right: 25px;
    overflow: hidden;
}

.section-three{
    background-color: hsl(223, 31%, 20%);
    padding: 25px;
    margin-top: 15px;
    border-radius: 10px;
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 25px;
}

.numbers{
    padding: 15px 0px;
    min-width: 50px;
    background-color: hsl(30, 25%, 89%);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    color: hsl(221, 14%, 31%);
    border-radius: 10px;
    box-shadow: 0px 3px;
}

.numbers:hover{
    background-color: white;
}

.reset{
    grid-column: 1/3;
    color: white;
    background-color: hsl(225, 21%, 49%);
    box-shadow: 0px 3px hsl(224, 28%, 35%);
}

.eq{
    grid-column: 3/5;
    background-color: hsl(6, 63%, 50%);
    box-shadow: 0px 3px hsl(6, 70%, 34%);
    color: white;
}

.eq:hover{
    background-color: hsl(6, 54%, 60%);
}

.del{
    background-color: hsl(225, 21%, 49%);
    color: white;
    box-shadow: 0px 3px hsl(224, 28%, 35%);
}

@media screen and (max-width: 375px) {
    .calc-container{
        width: 90%;
    }
    .numbers{
        min-width: 20px;
        padding: 10px;
        font-size: 1.5em;
    }
    .section-three{
        padding: 20px;
        gap: 10px;
    }
}
